@charset "utf-8";
/* CSS Document */

body {
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:url("assets/images/building.jpg");

	
	}
.topheader {
	width:100%;
	height:140px;
	}
.insidetop {
	margin:0 auto;
	width:1050px;
	background-color: #999;
	}
.logo {
	width:285px;
	height:100px;
	float:left;
	margin:20px 0 0 0;
	}
	
.menu {
	width:100%;
	background-color:#09014c;
	height:50px;
	}
.insidemenu{
	width:40%;
	margin:0 auto;
	font-size:16px;
	
	}	
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-size:22px;
   
}

li {
    float: left;
	font-size:22px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
	font-size:22px;
}

li a:hover {
    background-color: #24a6c2;
	font-size:22px;
}		


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #24a6c2;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner{
	width:1050px;
	margin:0 auto;
	}
.content {
	width:1050px;
	text-align:center;
	margin:0 auto;
	}
.aftercontent {
	width:1050px;
	margin:0 auto;
	height:500px;
	
	}		
.aftercontentdata {
	width:1050px;
	float:left;
	margin:15px 0 0 0;
	
	}
.leftside {
	width:500px;
	float:left;
	
	}
.rightside {
	width:500px;
	float:right;
	
	
	}
	
.rightsideabout {
	width:400px;
	float:right;
	}
.abouttitle{
	width:400px;
	color:#FFF;
	}		
				
.title{
	width:500px;
	height:50px;
	background-color:#09014c;
	font-size:22px;
	padding-left:25px;
	line-height:50px;
	color:#FFF;
	}	
	
.leftside a{
	text-decoration:none;
	color:#09014c;
	}
	
.leftside a:hover {
	text-decoration:none;
	color:#24a6c2;
}				
.botton {
	width:1052px;

	background-color:#09014c;
	float:left;
	margin:0 0 0 0;
	}
.last {
	width:300px;
	float:left;
	margin:0 0 20px 38px;
	color:#FFF;
	}
.bottommenu {
	width:250px;
	float:left;
	height:25px;
	line-height:25px;
	color:#FFF;
	font-size:16px;
	text-align:center;
	}
.bottommenu a {
	text-decoration:none;
	color:#FFF;
	text-align:center;
	}				
.bottommenu a:hover {
	text-decoration:none;
	color:#09014c;
	}			
#tool{
	border: 2px solid black;
	height:50px;
	width:100px;
}
